<html>
	<head>
	
	</head>
	<body>
	<form action="/create" method="POST">
	  
	<div class="form-group">
		<label for="title"></label>
	  Title: <input class="form-control" type="text" name="title"><br>
	 </div>
	<div class="form-group">

	 <label for="body"></label>

	  Body: <input class="form-controlrm" type="text" name="body"><br>
	</div>

 <a href="/create" onclick="parentNode.submit();return false;">Submit</a>
	  <input type="submit" value="Submit">
	</form>


	</body>
</html>